Advertising/Heyzap/Heyzap/AppDelegate.swift
Social/Facebook/Facebook/Info.plist

Advertising/Heyzap/Heyzap/AppDelegate.swift

Advertising/Heyzap/Heyzap/AppDelegate.swift

Authentication/Basic/MyExpressApp/node_modules