<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.4 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077321b75f5f2705119d7b77c2525328:407ff2e411273780f84fcf5dd50ddfb4:f4ad4d1af258ffbe0760b8d4ef83e52d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Hero.1.png</string>
                <key>size</key>
                <string>{301,54}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Wings04.png</string>
                        <key>spriteOffset</key>
                        <string>{10,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,53}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{59,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Wings01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,53}</string>
                        <key>textureRect</key>
                        <string>{{62,1},{78,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Wings02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,53}</string>
                        <key>textureRect</key>
                        <string>{{142,1},{78,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Wings03.png</string>
                        <key>spriteOffset</key>
                        <string>{0,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,53}</string>
                        <key>textureRect</key>
                        <string>{{222,1},{78,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
